@tailwind base;
@tailwind components;
@tailwind utilities;

.text-header-gradient {
  background: #3984f4;
  font-size: 0.8em;
  text-wrap: nowrap;
  padding-bottom: 10px;
  background: linear-gradient(
    169.4deg,
    #3984f4 -6.01%,
    #0cd3ff 36.87%,
    #2f7cf0 78.04%,
    #0e65e8 103.77%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 767px) {
  .smmargin-top {
    margin-top: 1em;
    display: flex;
    gap: 20px;
  }
}

.text-header-gradient-2 {
  background: linear-gradient(
    169.4deg,
    #3984f4 -6.01%,
    #0cd3ff 36.87%,
    #2f7cf0 78.04%,
    #0e65e8 103.77%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-box {
  border-radius: 0 0 0 10%; 
  padding: 1.5rem;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.text-gradient-3 {
    background: linear-gradient(136.91deg,#468ef9 -12.5%,#0c66ee 107.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-gradient {
  border-image: linear-gradient(136.91deg, #468ef9 -12.5%, #0c66ee 107.5%);
  border-image-slice: 1;
}

.card-background{
  background-image: url(../../public/images/ServiceBackground.gif);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
width: 100%;
}
.text-blue-gradient {
  background: linear-gradient(to right, #2c7af0, #6c5bce); /* Brighter blue gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}